**/*/__pycache__
# *.png
*.txt
**/*/*.pyc
**/*/.ipynb_checkpoints
.mypy_cache/
results/
bulk_patches/
data/*
eval_results/
Ov_SSL_checkpoints/
heatmaps/
Set-Tree/CRC_attentions_RF.npy
*.csv
TransPath/
notebooks/beta_VAE_augmentor/
notebooks/BRCA_exploration/figures/
openslide-python/examples/
Set-Tree/ 
bash_scripts/
openslide_python/
Zsofi_BRCA_tables/
figures/
HGSOC_platinum_responce/tables/
legacy/
notebooks/HRD_analysis/